@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top2 {
      position: -webkit-sticky;
      position: sticky;
      top: 100px;
      z-index: 1019;
    }
  } 
  .nav-link{
    color: white;
  }