<footer class="footer-area">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="single-footer-widget">
                  <div class="our-info">
                      <ul class="footer-contact-info">
                          <li>
                              <div class="icon-holder">
                                  <span class="icon-gps thm-clr"></span>
                              </div>
                              <div class="text-holder">
                                  <h3>Address:</h3>
                                  <p>
                                      Director<br>
                                      Centre of Excellence for Farmer Producer Organisations<br>
                                      College of Horticulture Premises, UHS Campus<br>
                                      GKVK Post, Bengaluru - 560 065, Karnataka, India<br>
                                  </p>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="single-footer-widget">
                  <div class="our-info">
                      <ul class="footer-contact-info">
                          <li>
                              <div class="icon-holder">
                                  <span class="icon-technology thm-clr"></span>
                              </div>
                              <div class="text-holder">
                                  <p>
                                      <span>Phone:</span>
                                      +91 80-29721577<br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                      +91 9449872877 (M) - Director<br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                      +91 9449457344 (M) - Deputy Director
                                  </p>
                              </div>
                          </li>
                          <li>
                              <div class="icon-holder">
                                  <span class="icon-note thm-clr"></span>
                              </div>
                              <div class="text-holder">
                                  <p><span>Email: </span>coefpo@gmail.com</p>
                              </div>
                              <div class="text-holder" style="padding-top:20px;">
                                  <p>
                                      No.of visitors<br>
                                      <!-- hitwebcounter Code START -->
                                      <a href="https://www.hitwebcounter.com" target="_blank">
                                          <img src="https://hitwebcounter.com/counter/counter.php?page=7205693&amp;style=0001&amp;nbdigits=5&amp;type=page&amp;initCount=0" title="User Stats" alt="webcounterwebsite" border="0">
                                      </a>
                                  </p>
                              </div>

                          </li>

                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="fmenu-social-links-box">
                  <ul class="footer-menu float-left">
                      <li><a href="privacy.html">Privacy Policy</a></li>

                  </ul>
                  <ul class="footer-social-links float-right">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>