<br>
<div class="container">
<h1 style="text-align: center;font-size:40px;"><strong><u style="text-decoration-color:rgb(0, 255, 34)">Contact Us</u></strong></h1>
</div>
<br>
<div class="container deco">
    <div class="card text-bg-light mb-3" style="max-width: 50rem;" data-aos="fade-right" data-aos-duration="1800" data-aos-offset="150">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-geo-alt-fill" style="color: rgb(47, 255, 57);font-size: 25px;"></i> <u style="text-decoration-color:rgb(0, 255, 34);font-size: 24px;"><span style="font-size: 28px;">A</span>DDRESS</u></h5>
          <p class="card-text"> 
            Belakavadi-T Narsipura Main Road Saraguru<br>
            Hand Post,B G Pura Hobli,Malavalli,<br>
            Mandya District,Karnataka,India.<br>
            PIN CODE:571463.<br>
        </p>
        </div>
        
      </div>
      <br>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="150">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-telephone-fill" style="color: rgb(47, 255, 57);font-size: 25px;"></i>&nbsp;<u style="text-decoration-color:rgb(0, 255, 34);font-size: 24px;"><span style="font-size: 28px;">P</span>HONE</u></h5>
          <p class="card-text">
            +91 9964841312(M) -<b>Madan Kumar-CEO</b> <br> 
            +91 9591748180 (F) -<b>Radhika-Accountant</b> <br>
            +91 9945558623 (M) -<b>B S Mahadevaiah-President</b></p>
        </div>
      </div>
      <br>
      <div class="card text-bg-light mb-3 " style="max-width: 50rem;" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="150">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-envelope-at-fill" style="color: rgb(47, 255, 57);font-size: 25px;"></i>&nbsp;<U style="text-decoration-color:rgb(0, 255, 34);font-size: 24px;"><span style="font-size: 28px;">E</span>MAIL</U></h5>
          <p class="card-text"><a href="mailto:email@example.com?subject=Mail from our Website">bgpuraragifpc@gmail.com</a></p>
        </div>
      </div>
</div>
<br>